
    </div>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
	<script src="<?= base_url('assets/js/custom.js'); ?>"></script>
	<script src="<?= base_url('assets/vendors/js/vendor.bundle.base.js'); ?>"></script>
	<script src="<?= base_url('assets/vendors/loader/pace.min.js'); ?>"></script>
	<script src="<?= base_url('assets/vendors/js/vendor.bundle.addons.js'); ?>"></script>
    <script src="<?= base_url('assets/js/off-canvas.js'); ?>"></script>
    <script src="<?= base_url('assets/js/misc.js'); ?>"></script>
    <script src="<?= base_url('assets/vendors/jquery-confirm/dist/jquery-confirm.min.js'); ?>"></script>
    
    <script type="text/javascript">
        const BASE_URL = '<?= base_url() ?>';
		$(document).ready(function () {
            $("#pills-home-tab").children("img").attr("style", "-webkit-filter:invert(0%) !important");
            $(document).ajaxStart(function() { 
                Pace.restart();
            });
        });
    </script>
    <?php if($this->session->flashdata('success')){     ?>
    <script>
        $(document).ready(function(){
            success('<?= $this->session->flashdata("success") ?>');
        });
    </script>
    <?php } ?>
    <?php if($this->session->flashdata('error')){     ?>
    <script>
        $(document).ready(function(){
            error('<?= $this->session->flashdata("error") ?>');
        });
    </script>
    <?php } ?>
</body>

</html>