<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CMS</title>
	<link rel="stylesheet" href="<?= base_url('assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css'); ?>">
	<link rel="stylesheet" href="<?= base_url('assets/vendors/css/vendor.bundle.base.css'); ?>">
	<link rel="stylesheet" href="<?= base_url('assets/css/custom.css'); ?>">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="<?= base_url('assets/css/style.css'); ?>">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css"/>
	<link rel="shortcut icon" href="<?= base_url('assets/images/favicon.png'); ?>" />
</head>

<body>
    <section class="body-backimage">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mx-auto">
                    <div class="form-background">
                        <h3 class="mb-4">Forgot Password</h3>
                        <form action="blank-page.html">
                            <h5 class="text-left text-forgot-edit">Enter your email address and we’ll send you a link to reset your password.</h5>
                            <div class="form-group row mb-2">
                                <div class="col-sm-12">
                                    <label for="inputEmail4" class="label-heading mt-4">Email Address</label>
                                    <input type="email" class="form-control form-edit" id="inputEmail3" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row mt-5">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary w-100 button-gradient">Send</button>
                                </div>
                            </div>
                            <a href="<?= base_url('auth/index')?>" class="underline-edit"><h4 class="forgot-password text-right">Have an account? Login</h4></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
	<script src="<?= base_url('assets/vendors/js/vendor.bundle.base.js'); ?>"></script>
	<script src="<?= base_url('assets/vendors/js/vendor.bundle.addons.js'); ?>"></script>
	<script src="<?= base_url('assets/js/off-canvas.js'); ?>"></script>
	<script src="<?= base_url('assets/js/custom.js'); ?>"></script>
	<script src="<?= base_url('assets/js/misc.js'); ?>"></script>
    <script src="<?= base_url('assets/js/dashboard.js'); ?>"></script>

    <?php if($this->session->flashdata('success')){     ?>
    <script>
        $(document).ready(function(){
            success('<?= $this->session->flashdata('success') ?>');
        });
    </script>
    <?php } ?>
    <?php if($this->session->flashdata('error')){     ?>
    <script>
        $(document).ready(function(){
            error('<?= $this->session->flashdata('error') ?>');
        });
    </script>
    <?php } ?>
        
    
</body>

</html>